.sliderContainer {
  border: 0.5px solid lightgray;
  background-color: rgb(245, 245, 245);
  display: flex;
  margin: 10px;
  padding: 2px;
}

.controls {
  border: 0.5px solid lightgray;
  background-color: aliceblue;
  padding: 10px;
}

.sliderLabel {
  margin:0px;
  margin-left: 5px;
}